@font-face {
  font-family: 'iconfont';  /* project id 220947 */
  src: url('//at.alicdn.com/t/font_72j2r97icz6ywrk9.eot');
  src: url('//at.alicdn.com/t/font_72j2r97icz6ywrk9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_72j2r97icz6ywrk9.woff') format('woff'),
    url('//at.alicdn.com/t/font_72j2r97icz6ywrk9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_72j2r97icz6ywrk9.svg#iconfont') format('svg');
}
